@use '../../../styles/colors.scss';
@use '../../../styles/values.scss';

.container {
    background-color: colors.$brown;
    color: colors.$brownLight;
    font-family: values.$fontTitle;
    font-size: 60px;
    text-align: center;
    padding-left: 12vw;
}