@use "../../../styles/values.scss";
@use "../../../styles/colors";

.container {
    flex: 1;
    display: flex;
    //justify-content: center;
    flex-direction: column;
    padding: 0px 20px 10px 20px;

    h3{
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: 0;
    }

    p {
        text-align: justify;
    }
    
}

@media screen and (max-width: 700px) {
    .container {
        h1{
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}