@use"../../../styles/colors";

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 0 20px 20px 20px;
}

@media screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;

    }
}