@use '../../styles/colors';

button {
    width: 120px;
    height: 40px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
   // box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease; 

}

button:hover {
    transform: scale(1.1);
}

.download {
    background-color: colors.$green;
    color: colors.$white;
}

.nav {
    background-color: colors.$brownDark;
    color: colors.$white;
}

@media screen and (max-width: 700px) {

    button {
        width: 100px;
        height: 36px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 4px;
    }

    .download {
        width: 120px;
    }

}