@use '../../styles/colors';

button {
    background-color: colors.$brownDark;
    color: colors.$white;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight:400;
    cursor: pointer;
}