@use '../../styles/colors';
@use '../../styles/values';

button {
    width: 120px;
    height: 40px;
    font-size: values.$font_size_p;
    color:colors.$brownLight;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: colors.$brownDarkHover;
    }

}

.download {
    background-color: colors.$green;
    color: colors.$white;
    width: 150px;
    margin-top: 10px;
    font-size: values.$font_size_b;

    &:hover {
        background-color: colors.$greenDark;
    }

}

.nav {
    background-color: colors.$brownDark;
    color:colors.$brownLight;
}

@media screen and (max-width: 700px) {

    button {
        width: 100px;
        height: 36px;
    }

}