@use "../../../styles/colors.scss";
@use "../../../styles/values.scss";

.container {
    color: colors.$brown;
    font-family: values.$fontTitle;
    font-size: 45px;
    text-align: center;

    p{
        margin-bottom: 0;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .container {
        p{
            font-size: 28px;
            margin-top:10px;
        }

            
    }
}