@use "../../../styles/colors.scss";
@use "../../../styles/values.scss";

.container {
    background-color: colors.$brownLight;
    color: colors.$brown;
    display: flex;
    justify-content: center;
    font-family: values.$fontTitle;
    font-size: 56px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 28px;
    }
}