@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Playwrite+PE:wght@100..400&display=swap');

$fontTitle: "Roboto", sans-serif;
$fontText: 'Manrope', sans-serif;
$fontContent: "Playwrite PE", sans-serif;