@use '../../styles/colors.scss';
@use '../../styles/values.scss';

.container {
    background-color: colors.$brownLight;
    color:colors.$brown;
    font-family: values.$fontTitle;
    text-align: center;
    margin: 0;
    font-size: 32px;
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 23px;
        font-weight:lighter;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }
}