@use '../../styles/colors.scss';
@use '../../styles/values.scss';

.container {
    color:colors.$brownLight;
    font-family: values.$fontTitle;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 24px;
    }
}