@use "../../styles/colors";

.container {
    padding: 0 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .item {
        display: flex;
        flex-direction: column;
        padding: 0;

        h2 {
            margin: 0;
        }

        .techno {
            display: flex;
            align-items: center;
            gap: 10px;

            h3 {
                text-decoration: underline;
            }
        }

            img {
                width: 50px;
                margin-right: 10px;
            }
        
    }
    a{
        color:colors.$brownDark;
    }

}