@use "../../../styles/colors.scss";

/*.container {
    //width: 100%;
    
     .circle {
        position: absolute;
        top: 3vh; 
        left: 12vw; 
        transform: translateX(-50%);
        width: 330px;
        height: 330px;
        background-image: url("../../../assets/profil.png");
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        z-index: 10;
        }
        } */