.container {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 60px;
    
    img {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 95%;
        margin: auto;

        img {
            margin-top: 10px;
        }
    }
    
}