@use "../../../styles/colors.scss";
@use "../../../styles/values.scss";

.container {
    background-color: colors.$brownLight;
    font-family: values.$fontTitle;
    color: colors.$brown;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-height: 20vh;

    .username {      
        p {
            color: colors.$brown;
            font-family: values.$fontTitle;
            font-size: 32px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 700px) {
    .container {

        .username {
            p {
                font-size: 24px;
                margin-bottom: 0;
                margin-left: 5px;
                margin-right: 5px; 
            }

        }
    }
}