@use "../../../styles/colors.scss";
@use "../../../styles/values.scss";

.container {
    background-color: colors.$brownLight;
    font-family: values.$fontTitle;
    color: colors.$brown;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-height: 20vh;

    .username {
        color: colors.$brown;
        font-family: values.$fontTitle;
        font-size: 45px;
        text-align: center;

        p {
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 28px;

        .username {
            p {
                font-size: 28px;
                margin-top: 25px;
            }

        }
    }
}