@use"../../../styles/colors";

.container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h2{
        text-decoration: underline;
        color:colors.$brownDark;
    }

    .item {
        margin-bottom: 20px;


        .description {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 150px;

        }

    }
    .form{
        display: flex;
    }
}