@use "../../styles/values";

.container {
    padding: 10px 20px 0 20px;
    text-align: justify;

    p {
        font-size: values.$font_size_p;
}
}

@media screen and (max-width: 700px) {
    .container {
        p {
            margin-top: 0;
            font-size:values.$font_size_pp;
        }
    }
}