@use "../../styles/colors";

.containerButtonContact {
    background-color: colors.$brownLight;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px;
    margin-bottom: 0;

    .element {
        flex: 1; 
        display: flex;
        justify-content: end;
        align-items: center; 
    }

}

.containerButtonHome {
    background-color: colors.$brownLight;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
    margin-bottom: 0;

    .element {
        flex: 1; 
        display: flex;
        justify-content: end;
        align-items: center; 
    }
}

.containerButton {
    background-color: colors.$brownLight;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 10px;
    ;
}