.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 42vh;
    max-width: 100vh;



    .test {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30vh;
        max-width: 100vh;

        h2 {
            text-align: center;
        }

        .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


}

@media screen and (max-width: 700px) {

    .container {
        height: 100%;
        max-width: 100vh;

        .test {
            height: 100%;

            h2 {
                font-size: 18px;
                text-align: center;
            }

            p {
                font-size: 16px;
                text-align: justify;
            }
        }

        .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


}