@use "../../../styles/values";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 42vh;
    max-width: 100vh;
    margin-left: 20px;

    .containerMessage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30vh;
        max-width: 100vh;
        font-size: values.$font_size_p;

        .message {
            text-align: center;
        }

        .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}

@media screen and (max-width: 1300px) {
    .container {
        flex: 0.5;
    }
}

@media screen and (max-width: 700px) {

    .container {
        margin-left: 0px;

        .containerMessage {
            height: 100%;
            font-size: values.$font_size_pp;

            h2 {
                font-size: values.$font_size_p;
                text-align: center;
            }

            p {
                text-align: justify;

            }
        }

        .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }


}