.container {
    display: flex;
    justify-content: center;

    .presentation{
        gap:50px;
        display:flex;
        align-items: start;
        justify-content: center;
        width: 90%;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        padding:0 20px 0 20px;
        .presentation{
            flex: 1;
            flex-direction: column;
            gap: 0px;
            align-items: center;
            margin: 20px 0 ;
            max-width: 150vh;
        }
      
    }
}

